/* home.component.scss */
.navbar {
    background: #7e7c63; 
    padding: 1rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); 
  }
  
  .nav-list {
    list-style: none; 
    display: flex; 
    justify-content: center; 
    gap: 2rem; 
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    position: relative; 
  }
  
  //länkar
  .nav-item a {
    text-decoration: none;
    color: #ecf0f1; 
    font-size: 1.2rem; 
    padding: 0.5rem 1rem;
    transition: color 0.3s; 
  }
  
  .nav-item a:hover {
    color: #000000; 
  }
  
  .nav-item a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    display: block;
    margin-top: 5px; 
    right: 0;
    background: #000000; 
    //animation för linje under länk
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
  }
  
  .nav-item a:hover::after {
    width: 100%;
    left: 0;
    background: #000000; 
  }
  
  .current {
    color: #000000; 
  }
  
  .current::after {
    width: 100%; 
    left: 0;
    background: #000000; 
  }