<h2 class="section-title">Kurser</h2>

<div class="search-container">
  <input class="search-input" type="text" placeholder="Sök ..." [(ngModel)]="searchTerm" (input)="applyFilter()">
</div>
<div>
  <h3>Filtrera efter ämne</h3>
  <input list="subjects" [(ngModel)]="selectedSubject" (input)="applyFilter()" placeholder="Välj ämne">
  <datalist id="subjects">
    <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
  </datalist>
</div>
<div>{{ filteredCoursesList.length }} av {{ coursesList.length }}</div>

<table class="course-list">
  <thead>
    <tr>
      <th>Kurskod</th>
      <th>Ämneskod</th>
      <th>Kursnamn</th>
      <th>Nivå</th>
      <th>Progression</th>
      <th>Poäng</th>
      <th>Ämne</th>
      <th>Kursplan</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of filteredCoursesList" class="course-item">
      <td>{{ course.courseCode }}</td>
      <td> {{ course.subjectCode }}</td>
      <td>{{ course.courseName }}</td>
      <td>{{ course.level }}</td>
      <td>{{ course.progression }}</td>
      <td>{{ course.points }}</td>
      <td>{{ course.subject }}</td>
      <td>{{ course.syllabus }}</td>
      <div>
        <button (click)="saveToLocalStorage()">Spara</button>
      </div>
    </tr>
  </tbody>
</table>