.main {
    text-align: center;
  }
  

  .img-container {
    position: relative;
    overflow: hidden;
  
    img {
      width: 100vw;
      display: block;
      object-fit: cover;
      height: auto;
    }
  
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px; // Justerar höjden beroende på hur mycket avtoning du vill ha 
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
  }

          @media (min-width: 768px) {
            .img-container img {
                height: 400px; 
            }
        }

        @media (max-width: 767px) {
            .img-container img {
                height: auto; 
            }
        }


.section-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input,
input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
  margin: 10px;
}

.course-list {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.course-list th,
.course-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.course-list th {
  background-color: #f2f2f2;
}

.course-item button {
  padding: 5px 10px;
  cursor: pointer;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
}

.pagination span {
  display: inline-block;
  padding: 10px;
}