$table-bg-color: #f5f5f5;
$table-header-bg-color: #909090;
$table-header-text-color: #fff;
$table-row-hover-bg-color: #e8e8e8;
$table-border-color: #ddd;
$accent-color: #33CCCC;

.table-container {
  max-width: 100%;
  overflow-x: auto;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: $table-bg-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid $table-border-color;
  }

  thead {
    background-color: $table-header-bg-color;
    color: $table-header-text-color;

    th {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: lighten($table-header-bg-color, 30%);
      }

      &:hover {
        background-color: $table-row-hover-bg-color;
      }
    }

    td {
      button {
        background-color: $accent-color;
        border: none;
        color: #000000;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
        margin: 0 auto;
        display: flex;
        justify-content: center; 
        align-items: center; 

        &:hover {
          background-color: darken($accent-color, 10%);
        }
      }
    }
  }
}

.delete-all-button {
  background-color: $accent-color;
  border: none;
  color: #000000;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  float: right;
  margin: 25px;

  &:hover {
    background-color: darken($accent-color, 10%);
  }
}


.img-container {
  position: relative; 
  margin: 0; 
  padding: 0; 
  opacity: 0.7;

  img {
    width: 100vw; 
    height: auto; 
    display: block; 
    object-fit: cover; 
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 94%;  // Täck hela bilden
    background: linear-gradient(to top, rgba(255, 255, 255, 0) -50%, rgba(255, 255, 255, 1) 100%);
    pointer-events: none;  // Se till att gradienten inte blockerar interaktion
  }
}

        @media (min-width: 768px) {
          .img-container img {
              height: 400px; 
          }
      }

      @media (max-width: 767px) {
          .img-container img {
              height: auto; 
          }
      }

        @media (min-width: 768px) {
          .img-container img {
              height: 400px; 
          }
      }

      @media (max-width: 767px) {
          .img-container img {
              height: auto; 
          }
      }