
<h2>Sparade kurser</h2>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Kursnamn</th>
        <th>Kurskod</th>
        <th>Poäng</th>
        <th>Åtgärder</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of savedCourses">
        <td>{{ course.courseName }}</td>
        <td>{{ course.courseCode }}</td>
        <td>{{ course.points }} hp</td>
        <td><button (click)="deleteCourse(course.courseCode)">Ta bort</button></td>
      </tr>
    </tbody>
  </table>
</div>
<button class="delete-all-button" (click)="deleteAllCourses()">Radera alla sparade kurser</button>
<div>
  <h3>Total poäng: {{ totalPoints }} hp</h3>
</div>
<div class = "img-container">
  <img src = "assets/images/Programbilder/bild3.jpg" alt = "studenter">
</div>