<div class = "img-container">
    <img src = "assets/images/Programbilder/bild1.jpg" alt = "studenter">
</div>
<h1>Startsida</h1>
<p>En text om detta hittepå-universitet</p>  

<div class = "ikoner">
    <div class = "gif-container">
        <img #gifImage src = "{{ staticSrcs[0] }}" alt = "sök" class = "animated-gif" id = "gifImage">
    </div>
    <div class = "gif-container">
        <img #gifImage src = "{{ staticSrcs[1] }}" alt = "sök" class = "animated-gif" id = "gifImage">
    </div>
    <div class = "gif-container">
        <img #gifImage src = "{{ staticSrcs[2] }}" alt = "sök" class = "animated-gif" id = "gifImage">
    </div>
</div>