<div class = "img-container">
    <img src = "assets/images/Programbilder/bild1.jpg" alt = "studenter">
</div>

<div class = "main">
<h1>Startsida</h1>
<p>En text om detta hittepå-universitet</p>  
</div>

<div class = "ikoner">
    <div class = "gif-container">
        <img #gifImage src = "{{ staticSrcs[0] }}" alt = "sök" class = "animated-gif" id = "gifImage">
    </div>
    <div class = "gif-container">
        <img #gifImage src = "{{ staticSrcs[1] }}" alt = "sök" class = "animated-gif" id = "gifImage">
    </div>
    <div class = "gif-container">
        <img #gifImage src = "{{ staticSrcs[2] }}" alt = "sök" class = "animated-gif" id = "gifImage">
    </div>
</div>
<div class = "main">
<h3>Sök program och kurser</h3>
<h3>Läs mer om campus</h3>
<h3>Plugga distans</h3>
</div>