<div class = "img-container">
    <img src = "assets/images/Programbilder/bild1.jpg" alt = "studenter">
</div>

<div class = "main">
<h1>Välkommen till Munksund universitet!</h1>
<p>Universitet Munksund erbjuder flertalet olika kurser i olika ämnen. <br>
   Campus är beläget i Norrbotten och har undervisning både på plats och på distans, <br>
   med start både på höst- och vårterminen. <br>
   Välj och vraka mellan tusentals kurser inom flertalet ämnesområden!
</p>  
</div>

<div class="ikoner">
    <div class="icon-section">
        <div class="gif-container">
            <img #gifImage src="{{ staticSrcs[0] }}" alt="sök" class="animated-gif" id="gifImage">
        </div>
        <h3>Över 4 000 kurser</h3>
    </div>
    <div class="icon-section">
        <div class="gif-container">
            <img #gifImage src="{{ staticSrcs[1] }}" alt="sök" class="animated-gif" id="gifImage">
        </div>
        <h3>Upplev campuslivet</h3>
    </div>
    <div class="icon-section">
        <div class="gif-container">
            <img #gifImage src="{{ staticSrcs[2] }}" alt="sök" class="animated-gif" id="gifImage">
        </div>
        <h3>Plugga distans</h3>
    </div>
</div>